.container {
    overflow: hidden;
    background: #f0f0f0;
    border: 1px solid #ccc;
}

.info {
    display: inline-block;
    white-space: nowrap;
    padding: 10px 0;
    font-size: 24px;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(20%);
    }

    100% {
        transform: translateX(-20%);
    }
}